html * {
  color: #3F83BF;
  font-family: cera_probold, sans-serif;
}

section{
  margin: 50px 0px;
}

.row{
  margin: 20px 0px;
}

.TitleText{
  font-size: 3.5rem;
}

.TitleTextWF{
  font-size: 3.5rem;
  color: white;
}

.ProcessTitle{
  font-size: 2.5rem;
  text-transform: uppercase;
}

.grad {
  height: 260px;
  background-image: linear-gradient(#407BB9, #435A9E);
  border-radius: 30px;
}

.gradceoinner {
  /* height: 260px; */
  margin: 125px 0px 0px 0px;
  background-image: linear-gradient(#407BB9, #435A9E);
  border-radius: 30px;
}

.gradwf {
  background-image: linear-gradient(#407BB9, #435A9E);
  padding: 50px 0px;
  /* border-radius: 30px 30px 0px 0px; */
}

.gradfooter {
  /* height: 260px; */
  /* margin: 125px 0px 0px 0px; */
  background-image: linear-gradient(#407BB9, #435A9E);
  border-radius: 30px 30px 0px 0px;
}

.gradceo {
  padding: 0;
  box-shadow: 3px 3px 30px 0px rgba(150, 150, 150, 0.3);
  /* background-image: linear-gradient(#407BB9, #435A9E); */
  background-color: white;
  border-radius: 30px;
}
         
.btn-grad {
  background-image: linear-gradient(to right, #3F83BF 0%, #4b6cb7  51%, #3F83BF  100%);
  margin: 20px 0px;
  padding: 13px 35px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 13px;
  display: block;
  border: 0px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-gradceo {
  background-image: linear-gradient(to right, #ffffff 0%, #ffffff  51%, #ffffff  100%);
  margin: 20px 0px;
  padding: 13px 35px;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 0.5s;
  background-size: 200% auto;
  color: #3F83BF;            
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 13px;
  display: block;
  border: 0px;
}

.btn-gradceo:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.contact {
  padding-top: 5px;
}

.contact .info {
  width: 100%;
  /* background: #fff; */
}

.contact .info i {
  font-size: 20px;
  /* color: #5fcf80; */
  float: left;
  width: 44px;
  height: 44px;
  /* background: #ecf9f0; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: white;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  /* background: #5fcf80; */
  /* color: #fff; */
}